{
	"useTabs": true,
	"singleQuote": false,
	"tabWidth": 4,
	"arrowParens": "avoid",
	"trailingComma": "none",
	"bracketSameLine": false,
	"semi": true,
	"printWidth": 120,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
