@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

:root {
	color-scheme: light dark;

	--light-bg: #f9f9f9;
	--light-text: #111;
	--light-low-low-alpha: rgba(0, 0, 0, 0.02);
	--light-low-alpha: rgba(0, 0, 0, 0.04);
	--light-med-low-alpha: rgba(0, 0, 0, 0.06);
	--light-med-alpha: rgba(0, 0, 0, 0.075);
	--light-med-high-alpha: rgba(0, 0, 0, 0.01);
	--light-high-alpha: rgba(0, 0, 0, 0.125);

	--dark-bg: #13131c;
	--dark-text: #f9f9f9;
	--dark-low-low-alpha: rgba(255, 255, 255, 0.04);
	--dark-low-alpha: rgba(255, 255, 255, 0.075);
	--dark-med-low-alpha: rgba(255, 255, 255, 0.01);
	--dark-med-alpha: rgba(255, 255, 255, 0.125);
	--dark-med-high-alpha: rgba(255, 255, 255, 0.15);
	--dark-high-alpha: rgba(255, 255, 255, 0.175);

	--bg: var(--light-bg);
	--text: var(--light-text);
	--low-low-alpha: var(--light-low-low-alpha);
	--low-alpha: var(--light-low-alpha);
	--med-low-alpha: var(--light-med-low-alpha);
	--med-alpha: var(--light-med-alpha);
	--med-high-alpha: var(--light-med-high-alpha);
	--high-alpha: var(--light-high-alpha);

	--error: #cb0000;
	--success: #00e300;
	--accent: #eea903;

	@media (prefers-color-scheme: dark) {
		--bg: var(--dark-bg);
		--text: var(--dark-text);
		--low-low-alpha: var(--dark-low-low-alpha);
		--low-alpha: var(--dark-low-alpha);
		--med-low-alpha: var(--dark-med-low-alpha);
		--med-alpha: var(--dark-med-alpha);
		--med-high-alpha: var(--dark-med-high-alpha);
		--high-alpha: var(--dark-high-alpha);
	}

	background-color: var(--bg);
	color: var(--text);

	font-family: Nunito, sans-serif;
	font-weight: 400;
}

body {
	margin: 0;
}

a {
	color: var(--accent);

	&.ul {
		background-image: linear-gradient(var(--text), var(--text));
		background-size: 0% 2px;
		background-position-y: 100%;
		background-position-x: 100%;
		background-repeat: no-repeat;
		transition: background-size 0.1s ease-in-out;

		&:hover,
		&:focus,
		&:active {
			background-size: 100% 2px;
			background-position-x: 0%;
		}
	}
}

button,
a.button {
	transition: background-color 0.15s ease-in-out;
	text-decoration: none;
	text-align: center;
	cursor: pointer;

	&:hover {
		background-color: var(--med-alpha);
	}
}

select,
input,
textarea,
button,
a.button {
	padding: 0.25rem 0.5rem;
	border: none;
	border-radius: 0.25rem;

	color: var(--text);
	background-color: var(--low-alpha);
	font-size: 1rem;
	font-family: inherit;

	&:focus {
		outline: 2px solid var(--text);
	}
}

.table {
	--border-radius: 5px;
	border-radius: var(--border-radius);
	background-color: var(--low-alpha);
	border-collapse: collapse;
	border-style: hidden;

	td,
	th {
		padding: 0.5rem 0.5rem;
		border: 2px solid var(--med-alpha);
	}

	th {
		font-size: 1.15rem;
		padding: 0.5rem;
	}

	tr {
		&:nth-child(odd) td {
			background-color: var(--low-alpha);
		}
		&:nth-child(even) td {
			background-color: var(--med-alpha);
		}
		@media (prefers-color-scheme: dark) {
			&:nth-child(even) td {
				background-color: var(--med-low-alpha);
			}
		}
		&:last-child {
			td:first-child {
				border-bottom-left-radius: var(--border-radius);
			}
			td:last-child {
				border-bottom-right-radius: var(--border-radius);
			}
		}
	}
}

.feather {
	color: red;
}
