@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

:root {
	color-scheme: light dark;

	--light-bg: #f9f9f9;
	--light-text: #111;
	--light-low-alpha: rgba(0, 0, 0, 0.04);
	--light-med-alpha: rgba(0, 0, 0, 0.075);
	--light-high-alpha: rgba(0, 0, 0, 0.125);

	--dark-bg: #13131c;
	--dark-text: #f9f9f9;
	--dark-low-alpha: rgba(255, 255, 255, 0.075);
	--dark-med-alpha: rgba(255, 255, 255, 0.125);
	--dark-high-alpha: rgba(255, 255, 255, 0.175);

	--bg: var(--light-bg);
	--text: var(--light-text);
	--low-alpha: var(--light-low-alpha);
	--med-alpha: var(--light-med-alpha);
	--high-alpha: var(--light-high-alpha);

	--error: #cb0000;
	--success: #00e300;

	@media (prefers-color-scheme: dark) {
		--bg: var(--dark-bg);
		--text: var(--dark-text);
		--low-alpha: var(--dark-low-alpha);
		--med-alpha: var(--dark-med-alpha);
		--high-alpha: var(--dark-high-alpha);
	}
}

body {
	background-color: var(--bg);
	color: var(--text);

	font-family: Nunito, sans-serif;
	font-weight: 400;

	margin: 0;
}

button,
a.button {
	padding: 0.25rem 0.5rem;
	border: none;
	border-radius: 0.25rem;

	color: var(--text);
	background-color: var(--low-alpha);
	text-align: center;

	transition: background-color 0.15s ease-in-out;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		background-color: var(--med-alpha);
	}
}

button,
input,
textarea,
a.button {
	font-family: inherit;

	&:focus {
		outline: 2px solid var(--text);
	}
}
