@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

:root {
	color-scheme: light dark;

	--bg: #f9f9f9;
	--text: #111;
	--low-alpha: rgba(0, 0, 0, 0.04);
	--med-alpha: rgba(0, 0, 0, 0.075);

	@media (prefers-color-scheme: dark) {
		--bg: #13131c;
		--text: #eee;
		--low-alpha: rgba(255, 255, 255, 0.075);
		--med-alpha: rgba(255, 255, 255, 0.125);
	}
}

body {
	background-color: var(--bg);
	color: var(--text);

	font-family: Nunito, sans-serif;
	font-weight: 400;

	margin: 0;
}

button,
a.button {
	padding: 0.25rem 0.5rem;
	border: none;
	border-radius: 0.25rem;

	color: var(--text);
	background-color: var(--low-alpha);
	text-align: center;

	transition: background-color 0.15s ease-in-out;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		background-color: var(--med-alpha);
	}
}

button,
input,
textarea,
a.button {
	font-family: inherit;

	&:focus {
		outline: 2px solid var(--text);
	}
}
