@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

:root {
	color-scheme: light dark;

	--bg: #f9f9f9;
	--text: #111;
	--low-alpha: rgba(0, 0, 0, 0.05);

	@media (prefers-color-scheme: dark) {
		--bg: #13131c;
		--text: #eee;
		--low-alpha: rgba(255, 255, 255, 0.15);
	}
}

body {
	background-color: var(--bg);
	color: var(--text);

	font-family: Nunito, sans-serif;
	font-weight: 400;

	margin: 0;
}

button {
	padding: 0.25rem 0.5rem;
	border: none;
	border-radius: 2px;

	cursor: pointer;
}

button,
input,
textarea {
	font-family: inherit;
}
