h2 {
	font-size: 2rem;
	margin: 0;
	margin-bottom: 1rem;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;

	button {
		margin-top: 0.5rem;
		font-size: 1rem;
	}
}

.anchor-wrapper {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.25rem;

	p {
		margin: 0;
	}

	a {
		width: 100%;
	}
}
